body{
    background-image: url("images/webdev/dirt.webp");
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
}


header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    margin-bottom: 10vw;
    position: sticky;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-left: 6vw;
}

header img{
    height: 10vw;
    width: 10vw;
    margin-left: 15vw;
}

header li, h1{
    
    padding: 3vw;
    font-size: 1.75vw;
}

.home_pic{
    position: relative;
    height: 50vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 3vw;
}

.container{
    display: flex;
    justify-content: center;
    margin: 5vw;
}

.container1{
    background-color: #ac743b;
    width: 75vw;
}


.container2{
    display: flex;
}

.option_cont li{
    background-color: #f7daae;
    padding: 3vw;
    margin-bottom: 2vw;
    list-style: none;
}

footer{
    position: relative;
    display: flex;
    background-color: white;
    padding: 3vw 0;
    align-items: center;
    justify-content: center;
}